.collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-nav {
  font-family: 'Jura';
  font-size: 24px;
  color: white;
}

.nav-link {
  margin-left: 6px;
  margin-right: 6px;
}

.button-form {
  width: 206px;
  height: auto;
  background-color: white;
  color: black;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  margin-left: 0;
  margin-right: auto;
}

.btn_nav {
  width: 206px;
  height: auto;
  background-color: white;
  color: black;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.fformob{
  display: none;
}

#hero{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(https://sun9-85.userapi.com/impg/8-HP2GVMV_LIQgxxsGgoWtqQDHllcrV_s32YTw/x13K6xUjzVs.jpg?size=1920x913&quality=96&sign=cad5da046f800e043e66cbb5bbbe241c&type=album);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.f{
  margin-top: 3%;
  padding-top:7%;
  font-family: 'Oswald', sans-serif;
  padding-left:5%;
}
.conteiner_for_f{
  max-width: 1400px;
}
.fH1{
  font-size: 96px;
  color: black;
}
.fp{font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;
  margin-top: 2%;

}

.fbutton1{width: 407px;
  height: 107px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size:64px;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-top: 5%;
  

}

@media(max-width:900px){
  .fH1{
    font-size: 48px;
  }

  .fp{
    font-size: 24px;
  }

  .f{
    margin-top: 13%;
    padding-top:7%;
    padding-left:3%;
  }
  .fbutton1{
    font-size: 36px;
    width: 266px;
    height: 65px;
  }

  #hero{
    background-position: top center;
    background-size: 150%;
    height: 400px;
  }

}

@media (max-width: 800px) {
  .f{
    margin-top: 13%;
    padding-top:7%;
    
  }
  .fH1{
    font-size: 48px;
  }
  .fp{
    font-size: 24px;
  
  }
  .fbutton1{width: 307px;
    height: auto;
    font-size:48px;
    margin-top: 3%;
    
  
  }
  
}

.s{max-width: 1400px;
  margin: 170px auto;
  

}

.zagolovoks{display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  
}

.h1fors{
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}

.name{
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;
}

.litinfo{
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: black;
}
.allinfo{
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: black;
}
.persona{display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center ;
  margin-top: 70px;

}

.portf{width: 260px;
  height: 65px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size:36px;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-top: 5%;
}

.infoblok{
  width: 600px;
  align-items: flex-start;
}

.carousel-control-next-icon{
  background-image: url("/img/Frame\ 12\ \(3\).png");
}
.carousel-control-prev-icon{
  background-image: url("/img/Frame\ 13\ \(2\).png");
}


.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  margin-right: 51px;
  margin-left: 51px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #414141;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity .6s ease;
}

@media (max-width: 900px) {
.persona{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.infoblok{
  align-items: center;
  justify-content: center;
  width: auto;
  margin-bottom: 50px;
}
.carousel-indicators [data-bs-target] {
  margin-right: 21px;
  margin-left: 21px;
  width: 24px;
  height: 24px;
}

}





.t{
  max-width: 1440px;
  margin: 170px auto;
}

.works{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.workperson{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.infoaboutworker{
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
  margin-top: 10px;
}

.nameunderwork{
  text-align: right;
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  color: black;
}

.linkinst{
  text-align: right;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: black;
}

.carousel-indicators{
  position: relative;
  margin-top: 100px;
}

.carousel-inner{
  margin-top: 100px;
}

@media (max-width: 1200px) {
.works{
  flex-direction: column;
}

.workperson{
  margin-top: 85px;
}

.line{
  display: none;
}

.zagolovoks{
  align-items: center;
  justify-content: center;
}
  
}


.f4{
  max-width: 1440px;
  margin: 170px auto;
}

.tarifblok{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.bigt{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  
  
}
.into{
  height: 400px;
  border: 1px;
  border-style: solid;
  border-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

}

.bigh1{
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  color: black;
}

.infoaboutbig{
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-top: 17px;

}

.cost{
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.normal{
  font-size: 48px;
  margin-left: 17px;
}

.cours{
  width: 326px;
  height: 83px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size:48px;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-top: 5%;
}

.litt{
width: 722px;
height: 450px;
border: 1px;
border-style: solid;
border-color: #000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 50px;

}

@media (max-width: 1200px) {
  .tarifblok{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bigt{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .otzall{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .otzonen{
    margin-top: 30px;
  }

}  

@media( max-width:750px){

  .bigt{
    width: 300px;
    height: auto;
  }

  .litt{
    width: 300px;
    height: auto;
    }
  .bigh1{
    font-size: 24px;
  }
  .infoaboutbig{
    font-size: 20px;
  }
  .zach{
    font-size: 20px;
  }
  .normal{
    font-size: 24px;
  }
  .cours{
    font-size: 24px;
    width: 182px;
    height: 53px;
  }
  
  .name{
    font-size: 28px;
    font-weight: bold;
    
  }

  .litinfo{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;

  }

  .allinfo{
    font-size: 20px;
  }
  .persona{
    margin-bottom: 60px;
  }
  .personaphoto{
    width: 400px;
    height: auto;
  }
  .photoincarousel{
    width: 400px;
    height: auto;
  }

}

.conteiner_f5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;
  margin-top: 100px;

}
.allmass{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.onemass{width: 400px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;

}

.otzall{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.otzonen{
width: 722px;
height: 450px;
border: 1px;
border-style: solid;
border-color: #000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 50px;
text-align: center;
font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;

}

.personotz{
  font-size: 24px;
  margin-top: 20px;
}

.aboutotz{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-top: 35px;
}

.portf_2{width: 260px;
  height: 65px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size:36px;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-left: 10px;
}

.courserson{
  margin-bottom: 0;
  margin-right: 10px;
}

@media(max-width:750px){
  .otzonen{
    width: 400px;
    height: auto;
    padding: 10px;
  }
  .nameinotz{
    font-size: 24px;
  }
  .personotz{
    font-size: 20px;
  }
  .courserson{
    font-size: 24px;
  }

  .portf_2{
    font-size: 24px;
    width: 182px;
    height: 53px;
  }

  .form-control{
    width: auto;
    height: 30px;
    margin: 0;
    display: -webkit-inline-box;
  }
  .col-sm-10{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

}

.mass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  color: black;
}

.imgmass{
  width: 100%;
  height: auto;
}

.col{
  margin-left: 5px;
  margin-right: 5px;
  
}

.namemass{
  text-align: left;
}

.datamass{
  text-align: right;
}
.modalokno{
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: 0;
  width: 311px;
  height: 65px;
  

}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #474747;
  --bs-btn-border-color: #474747;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #474747;
  --bs-btn-hover-border-color: #474747;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: ##474747;
  --bs-btn-active-border-color: #474747;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #474747;
  --bs-btn-disabled-border-color: #474747;
}

@media (max-width: 1200px) {
.mass{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col{
  margin-top: 17px;
  margin-bottom: 17px;
}

}

@media (max-width: 500px){
  .imgmass{
    width: 300px;
    height: auto;
  }

  .namemass{
    font-size: 24px;
  }
  .datamass{
    font-size: 20px;
  }

}

.wform{

  margin: 0px auto;
  margin-top: 170px;
  background-image: url(https://sun9-88.userapi.com/impg/cT_hqG-Il5Iu9v_mvni5FGSfFVp9B0WZYO5Vrg/MU4yYQDrEKo.jpg?size=1920x1080&quality=96&sign=188cfa2be26c15f096131ee1ee4de190&type=album);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

 

.h1form{
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #fff;
}

.onlyforfofm{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 100px;
}

.zagforform{
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  margin-top: 50px;
}

.form{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 100px;
}

.modal{
  --bs-modal-border-radius:0;
  --bs-modal-width:auto;
}

.row{
  align-items: center;
  justify-content: center;
}

.form-control{
  margin-bottom: 10px;
  border-radius: 0;
  background: 0%;
  height: 106px;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  border: 2px solid #fff;
}

.lastbutton{
  margin-top: 30px;
  border: 0;
  width: 300px;
  height: 83px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 36px;
  font-family: 'PT Sans', sans-serif;
}


@media(max-width:450px){

  .h1fors{
    font-size: 36px;
  }

  .into{
    padding: 10px;
  }
  .f{display: none;}

  .fformob{display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 20px;
  padding-top: 140px;
  background-color: #D1D6D9;
  background-image: url(https://sun9-85.userapi.com/impg/8-HP2GVMV_LIQgxxsGgoWtqQDHllcrV_s32YTw/x13K6xUjzVs.jpg?size=1920x913&quality=96&sign=cad5da046f800e043e66cbb5bbbe241c&type=album);
  background-repeat: no-repeat;
  background-size: 190%;
  background-position: -250px bottom;
  padding-bottom: 190px;
}

  .contentblok{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  border: 2px solid #000;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.551);
  }

  .fH1_for_mob{
    text-align: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
  font-size: 28px;
  margin-top: 2px;
  margin-bottom: 25px;
  }

  .fp_for_mod{
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
  font-size: 20px;

  }

  .fbutton1_for_mob{
    width: 273px;
  height: 71px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size:24px;
  font-family: 'Oswald', sans-serif;
  border-radius: 0;
  margin-top: 5%;

  }

  .personaphoto{
    width: 250px;
    height: auto;
  }

  .infoblok{
    text-align: center;
    justify-content: center;
  }

  .zagolovoks{
    text-align: center;
  }

  .photoincarousel{
    width: 250px;
    height: auto;
  }

  .otzonen{
    width: 270px;
    height: auto;
  }

  .courserson{
    font-size: 18px;
  }
  .portf_2{
    font-size: 20px;
    width: 150px;
    height: 50px;
  }

  .zagforform{
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;

  }

  .col{
    margin-bottom: 100px;
  }

  .row{
    --bs-gutter-x:0;
  }


}


/*# sourceMappingURL=style.css.map */