// font-family: 'Jura', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Oswald', sans-serif;
//font-family: 'PT Sans', sans-serif;


.collapse {align-items:flex-end;
    justify-content: space-between;
}

.navbar-nav{
    font-family: 'Jura';
    font-size: 24px;
    color: white;
}

.nav-link{
    margin-left: 6px;
    margin-right: 6px;
}



.button-form{
    width: 206px;
    height: auto;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    margin-left: 0;
    margin-right: auto;
}

.btn{width: 206px;
    height: auto;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    

}


